<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"><ion-back-button defaultHref="/home"></ion-back-button></ion-buttons>
    <ion-title>Produtos</ion-title>
    <ion-buttons slot="end"><ion-button (click)="abrirForm()"><ion-icon slot="icon-only" name="add-outline"></ion-icon></ion-button></ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card *ngIf="mostrarForm">
    <ion-card-header><ion-card-title>{{ modoEdicao ? 'Editar' : 'Novo' }} Produto</ion-card-title></ion-card-header>
    <ion-card-content>
      <ion-item><ion-label position="floating">Nome</ion-label><ion-input [(ngModel)]="formulario.nome"></ion-input></ion-item>
      <ion-item><ion-label position="floating">Descrição</ion-label><ion-input [(ngModel)]="formulario.descricao"></ion-input></ion-item>
      <ion-item><ion-label position="floating">Preço (R$)</ion-label><ion-input type="number" [(ngModel)]="formulario.preco"></ion-input></ion-item>
      <ion-item><ion-label position="floating">Estoque</ion-label><ion-input type="number" [(ngModel)]="formulario.estoque"></ion-input></ion-item>
      <div class="btns-form">
        <ion-button fill="outline" (click)="fecharForm()">Cancelar</ion-button>
        <ion-button (click)="salvar()">Salvar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item *ngFor="let p of produtos">
      <ion-label>
        <h2>{{ p.nome }}</h2>
        <p>R$ {{ p.preco | number:'1.2-2' }} — Estoque: {{ p.estoque }}</p>
        <p>{{ p.descricao }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="abrirForm(p)"><ion-icon name="pencil-outline" color="primary"></ion-icon></ion-button>
        <ion-button fill="clear" (click)="excluir(p.id!)"><ion-icon name="trash-outline" color="danger"></ion-icon></ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  <ion-text color="medium" *ngIf="produtos.length === 0"><p class="ion-text-center">Nenhum produto cadastrado.</p></ion-text>
</ion-content>
